<!DOCTYPE html>
<!-- Comment -->
<html>
    <head>
        <style>
            h1{
                color: #e619d4;
                text-align: center;               
            }
            body{
                background: #19e0e0;
            }
            h2.renkli{
                color:green;
            }
            .yan-yana{
                display:flex;
            }
            .yan-yana a img{
                margin-right: 800px;
            }
        </style>
    </head>
    <body>
        <h1>Bu Bir Basliktir.</h1>
        
        <p>Bu bir paragraftir. <strong><em>Ilk</em></strong>  defa <em>web</em> programlama yapiyorum. Html ornegi yapiyoruz.</p>
        <p>m<sup>2</sup></p>

        <h2 class='renkli'>Link ornegi</h2>
        <a href="https://www.kaggle.com/competitions/titanic/submissions#" target="_blank">Bu bir link</a>

        <h2>Resimli Link</h2>
        <div class='yan-yana'>
            <a href="https://www.karar.com/yazarlar/zafer-acar" target="_blank">
                <img src="https://cdn.karar.com/author/75_b.jpg"  title='Zafer Acar' alt="resim">
            </a>
            <h2>Sirasiz Liste Ornegi</h2>
            <ul>
                <li>Liste Ornegi 1</li>
                <li>Liste Ornegi 2</li>
                <li>Liste Ornegi 3</li>
            </ul>
    
            <ol>
                <li>Liste Ornegi 1</li>
                <li>Liste Ornegi 2</li>
                <li>Liste Ornegi 3</li>
            </ol>
        </div>
    </body>
</html>